*{
    margin: 0;
    padding: 0;
    font-family: HelveticaNeueW01-55Roma, HelveticaNeueW02-55Roma, HelveticaNeueW10-55Roma, sans-serif;
}

.main-container{
    width: 480px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid;
    height: 730px;
}

#fblogo{
    color: white;
    font-size: 75px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.top-bar{
    width: 100%;
    height: 220px;
    background-color: #00008b;
}

#lang{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.514);
    font-size: 0.9rem;
}

.signin-info{
    margin-top: 30px;
}

.details{
    margin-left: 30px;
    width: 420px;
    height: 60px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.459);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.1rem;
}

.details::placeholder
{
    position:relative;
    top: 25%;
    color: rgba(0, 0, 0, 0.411);
}

#pass{
    margin-top: 25px;
}

#login-btn{
    margin-top: 30px;
    margin-left: 30px;
    width: 420px;
    height: 60px;
    background-color: #00008b;
    color: white;
    border-radius: 6px;
    border: 2px solid rgb(87, 87, 255);
}

#frgt-pass{
    color: #181896;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 0.9rem;
}

h5 { 
    display: flex; 
    flex-direction: row; 
    color: rgba(0, 0, 0, 0.514);
    margin-left: 30PX;
    margin-right: 30PX;
    margin-top: 30px;
} 
  
h5:before, 
h5:after { 
    content: " "; 
    flex: 1 1; 
    border-bottom: 2px solid #00000098; 
    margin: auto; 
} 

#createnew-btn{
    margin-top: 30px;
    margin-left: 30px;
    width: 420px;
    height: 60px;
    background-color: #008000;
    color: white;
    border-radius: 6px;
    border: 2PX SOLID rgb(5, 175, 5);
}